$icon-size-sm: 16px;
$icon-size-md: 24px;
$icon-size-lg: 32px;

.size_sm {
    width: $icon-size-sm;
    height: $icon-size-sm;
}

.size_md {
    width: $icon-size-md;
    height: $icon-size-md;
}

.size_lg {
    width: $icon-size-lg;
    height: $icon-size-lg;
}

.size_inherit {
    width: inherit;
    height: inherit;
}