$blue-50: #E6F1FE;
$blue-100: #CCE3FD;
$blue-200: #99C7FB;
$blue-300: #66AAF9;
$blue-400: #338EF7;
$blue-500: #006FEE;
$blue-600: #005BC4;
$blue-700: #004493;
$blue-800: #002E62;
$blue-900: #001731;

$white: #FFFFFF;
$black: #000000;

$purple-50: #F2EAFA;
$purple-100: #E4D4F4;
$purple-200: #C9A9E9;
$purple-300: #AE7EDE;
$purple-400: #9353D3;
$purple-500: #7828C8;
$purple-600: #6020A0;
$purple-700: #481878;
$purple-800: #301050;
$purple-900: #180828;

$green-50: #E8FAF0;
$green-100: #D1F4E0;
$green-200: #A2E9C1;
$green-300: #74DFA2;
$green-400: #45D483;
$green-500: #17C964;
$green-600: #12A150;
$green-700: #0E793C;
$green-800: #095028;
$green-900: #052814;

$red-50: #FEE7EF;
$red-100: #FDD0DF;
$red-200: #FAA0BF;
$red-300: #F871A0;
$red-400: #F54180;
$red-500: #F31260;
$red-600: #C20E4D;
$red-700: #920B3A;
$red-800: #610726;
$red-900: #310413;

$yellow-50: #FEFCE8;
$yellow-100: #FDEDD3;
$yellow-200: #FBDBA7;
$yellow-300: #F9C97C;
$yellow-400: #F7B750;
$yellow-500: #F5A524;
$yellow-600: #C4841D;
$yellow-700: #936316;
$yellow-800: #62420E;
$yellow-900: #312107;

$cyan-50: #F0FCFF;
$cyan-100: #E6FAFE;
$cyan-200: #D7F8FE;
$cyan-300: #C3F4FD;
$cyan-400: #A5EEFD;
$cyan-500: #7EE7FC;
$cyan-600: #06B7DB;
$cyan-700: #09AACD;
$cyan-800: #0E8AAA;
$cyan-900: #053B48;

$pink-50: #FFEDFA;
$pink-100: #FFDCF5;
$pink-200: #FFB8EB;
$pink-300: #FF95E1;
$pink-400: #FF71D7;
$pink-500: #FF4ECD;
$pink-600: #CC3EA4;
$pink-700: #992F7B;
$pink-800: #661F52;
$pink-900: #331029;

$zinc-50: #FAFAFA;
$zinc-100: #F4F4F5;
$zinc-200: #E4E4E7;
$zinc-300: #D4D4D8;
$zinc-400: #A1A1AA;
$zinc-500: #71717A;
$zinc-600: #52525B;
$zinc-700: #3F3F46;
$zinc-800: #27272A;
$zinc-900: #18181B;

$default-300-flat: #D4D4D8;
$default-700-flat: #3F3F46;
$primary-500-flat: #006FEE;
$secondary-400-flat: #9353D3;
$secondary-500-flat: #7828C8;
$success-500-flat: #17C964;
$warning-500-flat: #F5A524;
$danger-500-flat: #F31260;

$unit: 4;
$unit-0: 0;
$unit-2: 8;
$unit-3: 12;
$unit-3_5: 14;
$unit-4: 16;
$unit-5: 20;
$unit-6: 24;
$unit-7: 28;
$unit-8: 32;
$unit-9: 36;
$unit-10: 40;
$unit-11: 44;
$unit-12: 48;
$unit-13: 52;
$unit-14: 56;
$unit-15: 60;
$unit-16: 64;
$unit-17: 68;
$unit-18: 72;
$unit-20: 80;
$unit-24: 96;
$unit-28: 112;
$unit-32: 128;
$unit-36: 144;
$unit-40: 160;
$unit-44: 176;
$unit-48: 192;
$unit-52: 208;
$unit-56: 224;
$unit-60: 240;
$unit-64: 256;
$unit-72: 288;
$unit-80: 320;
$unit-96: 384;
$unit-xs: 8;
$unit-sm: 12;
$unit-md: 16;
$unit-lg: 22;
$unit-xl: 36;
$unit-2xl: 48;
$unit-3xl: 80;
$unit-4xl: 120;
$unit-5xl: 224;
$unit-6xl: 288;
$unit-7xl: 384;
$unit-8xl: 512;
$unit-9xl: 640;


$container_size_hg: 1800px;
$container_size_lg: 1280px;
$container_size_md: 858px;
$container_size_sm: 480px;
$container_size_tn: 360px;
$container_horizontal_padding_hg: 56px;
$container_horizontal_padding_lg: 32px;
$container_horizontal_padding_md: 24px;
$container_horizontal_padding_sm: 20px;
$container_horizontal_padding_tn: 16px;
$container_vertical_padding: 32px;
$container_vertical_padding_md: 28px;
$container_vertical_padding_sm: 20px;
$container_vertical_padding_tn: 16px;