@use '../../scss/base';

.btn {
  cursor: pointer;
  white-space: nowrap;
  border: 1px solid transparent;
}


.size_sm {
  height: 32px;
}

.size_md {
  height: 40px;
}

.size_lg {
  height: 48px;
}

.radius_none {
    border-radius: 0;
}

.radius_sm {
    border-radius: 8px;
}

.radius_md {
    border-radius: 12px;
}

.radius_lg {
    border-radius: 14px;
}

.radius_full {
    border-radius: 9999px;
}

.color_default {
    background-color: base.$zinc-500;
    color: base.$white;

    &:hover {
        background-color: base.$zinc-600;
    }

    &:active {
        background-color: base.$zinc-700;
    }
}

.color_primary {
    background-color: base.$blue-500;
    color: base.$white;

    &:hover {
        background-color: base.$blue-600;
    }

    &:active {
        background-color: base.$blue-700;
    }
}

.color_secondary {
    background-color: base.$purple-500;
    color: base.$white;

    &:hover {
        background-color: base.$purple-600;
    }

    &:active {
        background-color: base.$purple-700;
    }
}

.color_success {
    background-color: base.$green-500;
    color: base.$white;

    &:hover {
        background-color: base.$green-600;
    }

    &:active {
        background-color: base.$green-700;
    }
}

.color_warning {
    background-color: base.$yellow-500;
    color: base.$white;

    &:hover {
        background-color: base.$yellow-600;
    }

    &:active {
        background-color: base.$yellow-700;
    }
}

.color_danger {
    background-color: base.$red-500;
    color: base.$white;

    &:hover {
        background-color: base.$red-600;
    }

    &:active {
        background-color: base.$red-700;
    }
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;

    &:hover,
    &:active {
        background-color: inherit;
        color: inherit;
    }
}

.full_width {
    width: 100%;
}

.variant_solid {

}

.variant_bordered {
    background-color: transparent;
    border: 1px solid base.$zinc-300;
    color: base.$zinc-800;

    &:hover {
        background-color: base.$zinc-100;
    }

    &:active {
        background-color: base.$zinc-200;
    }
}

.variant_light {
    background-color: base.$zinc-100;
    color: base.$zinc-800;

    &:hover {
        background-color: base.$zinc-200;
    }

    &:active {
        background-color: base.$zinc-300;
    }
}

.variant_flat {
    background-color: base.$default-300-flat;
    color: base.$zinc-800;

    &:hover {
        background-color: base.$default-700-flat;
    }

    &:active {
        background-color: base.$zinc-800;
    }
}

.variant_faded {
    background-color: rgba(base.$zinc-500, 0.1);
    color: base.$zinc-800;

    &:hover {
        background-color: rgba(base.$zinc-500, 0.2);
    }

    &:active {
        background-color: rgba(base.$zinc-500, 0.3);
    }
}

.variant_shadow {
    background-color: base.$zinc-500;
    color: base.$white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: base.$zinc-600;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    }

    &:active {
        background-color: base.$zinc-700;
        box-shadow: none;
    }
}

.variant_ghost {
    background-color: transparent;
    color: base.$zinc-800;

    &:hover {
        background-color: base.$zinc-100;
    }

    &:active {
        background-color: base.$zinc-200;
    }
}

